#faq {
	background-color: @primary-color;
	width: 100%;
	// background-image: url('../img/background-1.gif');
	// background-repeat: repeat;
	padding: 2em 0;
	text-align: left;
	font-size: 2vw;
	line-height: 1em;
	#row2 {margin-top: 1em;}
	
	#heading {
		text-align: center!important;
		line-height: 1em;
		/*==========  Mobile First Method  ==========*/
		/* XXS */ @media only screen and (min-width : 320px)  {font-size: 4.5em;}
		/* XS  */ @media only screen and (min-width : 480px)  {font-size: 3em;}
		/* SM  */ @media only screen and (min-width : 768px)  {font-size: 2.5em;}
		/* MD  */ @media only screen and (min-width : 992px)  {font-size: 2em;}
		/* LG  */ @media only screen and (min-width : 1200px) {font-size: 1.5em;}
	}
	#heading-sm {
		text-align: left!important;
		line-height: 1em;
		/*==========  Mobile First Method  ==========*/
		/* XXS */ @media only screen and (min-width : 320px)  {font-size: 3em;}
		/* XS  */ @media only screen and (min-width : 480px)  {font-size: 1.8em;}
		/* SM  */ @media only screen and (min-width : 768px)  {font-size: 1.5em;}
		/* MD  */ @media only screen and (min-width : 992px)  {font-size: 1.2em;}
		/* LG  */ @media only screen and (min-width : 1200px) {font-size: 1em;}
	}
	p {
		text-align: left;
		line-height: 1.2em;
		/*==========  Mobile First Method  ==========*/
		/* XXS */ @media only screen and (min-width : 320px)  {font-size: 2.5em;}
		/* XS  */ @media only screen and (min-width : 480px)  {font-size: 1.8em;}
		/* SM  */ @media only screen and (min-width : 768px)  {font-size: 1.25em;}
		/* MD  */ @media only screen and (min-width : 992px)  {font-size: 1em;}
		/* LG  */ @media only screen and (min-width : 1200px) {font-size: .85em;}
	}
	
	#accordion {
		.panel+.panel {
			margin-top:0px; //This is the spacing in between the collapsed accordians
		}
		.panel-default {
			// color: red;
			background-color: #fffffe;
			// border-color: cyan;
			font-weight: inherit;
			font-size: 1em;
			line-height: 1em;
			border-radius: 10px;
			border: none;
			.panel-heading {
				// color: yellow;
				background-color: #fffaf0;
				// border-color: green;
				padding:5px 15px;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				.panel-title {
					text-align: center;
					font-size: 1.2em; 
					a {
						text-decoration: none;
						display: block; // This is needed so the whole bar is clickable.
						width: 100%; // This is needed so the whole bar is clickable.
						font-weight: inherit;
						font-size: 1em;
						line-height: 1em;
					}
				}
			}
			.panel-body {
				border-top: none;
			}
		}
	}



}