#directions {
	background-color: @white;
	// background-image: url('../img/background-1.gif');
	// background-repeat: repeat;
	padding: 2em 0;
	text-align: left;
	font-size: 2vw;
	line-height: 1em;
	#row2 {margin-top: 1em;}
	#row3 {margin-top: 1em;}	
	#heading {
		text-align: center!important;
		line-height: 1em;
		/*==========  Mobile First Method  ==========*/
		/* XXS */ @media only screen and (min-width : 320px)  {font-size: 4.5em;}
		/* XS  */ @media only screen and (min-width : 480px)  {font-size: 3em;}
		/* SM  */ @media only screen and (min-width : 768px)  {font-size: 2.5em;}
		/* MD  */ @media only screen and (min-width : 992px)  {font-size: 2em;}
		/* LG  */ @media only screen and (min-width : 1200px) {font-size: 1.5em;}
	}
	#heading-sm {
		text-align: center!important;
		line-height: 1em;
		text-decoration: underline dashed;
		/* XXS */ @media only screen and (min-width : 320px)  {font-size: 3.5em;}
		/* XS  */ @media only screen and (min-width : 480px)  {font-size: 2.5em;}
		/* SM  */ @media only screen and (min-width : 768px)  {font-size: 1.25em;}
		/* MD  */ @media only screen and (min-width : 992px)  {font-size: 1em;}
		/* LG  */ @media only screen and (min-width : 1200px) {font-size: 1em;}
	}

	.directions-intro {
		text-align: center;
		color: #689079;
		/* XXS */ @media only screen and (min-width : 320px)  {font-size: 3.5em;}
		/* XS  */ @media only screen and (min-width : 480px)  {font-size: 1.8em;}
		/* SM  */ @media only screen and (min-width : 768px)  {font-size: 1.5em;}
		/* MD  */ @media only screen and (min-width : 992px)  {font-size: 1em;}
		/* LG  */ @media only screen and (min-width : 1200px) {font-size: 1em;}
	}

	.directions-outro {
		text-align: center;
		/* XXS */ @media only screen and (min-width : 320px)  {font-size: 3.5em;}
		/* XS  */ @media only screen and (min-width : 480px)  {font-size: 1.8em;}
		/* SM  */ @media only screen and (min-width : 768px)  {font-size: 1.25em;}
		/* MD  */ @media only screen and (min-width : 992px)  {font-size: 1em;}
		/* LG  */ @media only screen and (min-width : 1200px) {font-size: 1em;}
	}

	.directions-notes {
		text-align: center;
		color: #689079;
		/* XXS */ @media only screen and (min-width : 320px)  {font-size: 3.5em;}
		/* XS  */ @media only screen and (min-width : 480px)  {font-size: 1.8em;}
		/* SM  */ @media only screen and (min-width : 768px)  {font-size: 1.25em;}
		/* MD  */ @media only screen and (min-width : 992px)  {font-size: 1em;}
		/* LG  */ @media only screen and (min-width : 1200px) {font-size: .85em;}
	}

	p {
		text-align: left;
		line-height: 1.2em;
		/*==========  Mobile First Method  ==========*/
		/* XXS */ @media only screen and (min-width : 320px)  {font-size: 1em;}
		/* XS  */ @media only screen and (min-width : 480px)  {font-size: 1em;}
		/* SM  */ @media only screen and (min-width : 768px)  {font-size: 1em;}
		/* MD  */ @media only screen and (min-width : 992px)  {font-size: 1em;}
		/* LG  */ @media only screen and (min-width : 1200px) {font-size: 1.5em;}
	}

	ul {
		/*==========  Mobile First Method  ==========*/
		/* XXS */ @media only screen and (min-width : 320px)  {font-size: 2.5em;}
		/* XS  */ @media only screen and (min-width : 480px)  {font-size: 1.8em;}
		/* SM  */ @media only screen and (min-width : 768px)  {font-size: 1.25em;}
		/* MD  */ @media only screen and (min-width : 992px)  {font-size: 1em;}
		/* LG  */ @media only screen and (min-width : 1200px) {font-size: .5em;}
	}


}